<div class="hello-component">

  <h2>bem vindo {{nome}}!</h2>

  <app-card titulo="BBMP!" imagem="https://picsum.photos/200/100?random">

    Meu Bahia broca caraio!<br>
    <button>um botao</button>
    <a href="#">vai pro google!</a>

    <app-card 
    imagem="http://picsum.photos/100/100?random"
    titulo="Meu card fodão">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima modi eveniet non, molestias fuga eum velit fugiat sed eius, aut distinctio aperiam deleniti. Sunt quo delectus a amet repudiandae praesentium!
  </app-card>

  </app-card>
  
</div>
